<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://img.freepik.com/vetores-premium/modelo-de-vetor-de-design-de-logotipo-odontologico-logotipo-de-dentista-criativo-logotipo-de-vetor-de-clinica-odontologica_607588-10199.jpg"
      />
      <h3>DENTISTA WEB</h3>
    </a>
    <div class="alinha-links">
      <a class="link" (click)="showRecepcao = '1'; dentistaSelecionado = null">Homepage</a>
      <a class="link" (click)="showRecepcao = '3'; dentistaSelecionado = null"> Cadastro</a>
    </div>
  </div>
</nav>

<div class="container">
  <!-- RECEPÇÃO -->
  <div *ngIf="showRecepcao == '1'">
    <h1>Escolha sua área de interesse</h1>
    <h4>Ortodontia, implantes, emergência...</h4>
    <div class="container-search">
      <div class="search">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
          />
        </svg>
        <input placeholder=" Procure por localização" />
      </div>
      <div class="selecionar">
        <form>
          <select id="opcoes" name="opcoes">
            <option value="" disabled selected>
              Procure por especialidade:
            </option>
            <option value="opcao1">Implantes</option>
            <option value="opcao2">Ortodontia</option>
            <option value="opcao3">Pediatria</option>
            <option value="opcao4">Limpeza dental</option>
            <option value="opcao5">Restauração</option>
          </select>
        </form>
      </div>
    </div>
    <br />
    <h1>Profissionais qualificados na sua área!</h1>
    <div class="map-container">
      <img
        style="height: 350px"
        src="https://learn.microsoft.com/en-us/bingmaps/rest-services/media/seattlecenteryroadpoint.png"
        alt="Imagem de mapa"
      />
    </div>
    <button class="btn btn-primary" (click)="showRecepcao = '2'">
      Pesquisar
    </button>
  </div>
  <!-- RESULTADOS -->
  <div *ngIf="showRecepcao == '2'">
    <button
      class="btn btn-primary"
      (click)="showRecepcao = '1'; dentistaSelecionado = null"
    >
      Voltar
    </button>

    <div *ngFor="let dentista of dentistas; let i = index">
      <div class="dentistas">
        <ul>
          <li>
            <div
              (click)="
                exibirId(dentista.id);
                setShowDentista(dentista.id);
                showRecepcao = '0'
              "
            >
              <div class="titulo">{{ dentista.nomeClinica }}</div>
              <div class="dentista">
                <p>{{ dentista.nomeDentista }}</p>
                <p>{{ dentista.especialidade }}</p>
                <p class="avaliacao">Avaliação: {{ dentista.avaliacao }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="dentistaSelecionado">
    <button
      class="btn btn-primary"
      (click)="showRecepcao = '2'; dentistaSelecionado = null"
    >
      Voltar
    </button>
    <h2>Detalhes</h2>
    <div class="dentista-detalhes">
      <div class="titulo">{{ dentistaSelecionado.nomeClinica }}</div>
      <div class="dentista">
        <p>{{ dentistaSelecionado.nomeDentista }}</p>
        <p>{{ dentistaSelecionado.especialidade }}</p>
        <p class="avaliacao">Avaliação: {{ dentistaSelecionado.avaliacao }}</p>
        <p>{{ dentistaSelecionado.descricaoCompleta }}</p>
        <div class="alinha-imagem">
          <img
            class="mapa-descricao"
            style="height: 350px"
            src="https://learn.microsoft.com/en-us/bingmaps/rest-services/media/seattlecenteryroadpoint.png"
            alt="Imagem de mapa"
          />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showRecepcao == '3'">
    <div>
      <div class="mb-3">
        <label for="nomeClinica" class="form-label">Nome da Clinica</label>
        <input
          type="email"
          class="form-control"
          id="nomeClinica"
          placeholder="Digite Aqui"
        />
      </div>
      <div class="mb-3">
        <label for="nomeDentista" class="form-label">Nome do Dentista</label>
        <input
          type="email"
          class="form-control"
          id="nomeDentista"
          placeholder="Digite Aqui"
        />
      </div>
      <div class="mb-3">
        <label for="especialidade" class="form-label">Sua Especialidade</label>
        <input
          type="email"
          class="form-control"
          id="especialidade"
          placeholder="Digite Aqui"
        />
      </div>

      <div class="mb-3">
        <label for="endereço" class="form-label">Endereço da Clinica</label>
        <input
          type="email"
          class="form-control"
          id="endereço"
          placeholder="Digite Aqui"
        />
      </div>
      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </div>
</div>
